.mainWrapper {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: white;
}

.profileContainer > div {
  display: flex;
  height: 100vh;
  width: 50vw;
  max-width: 100%;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.profilePic {
  width: 10vmax;
  height: 10vmax;
  border-radius: 100%;
  margin: 5vmax;
  margin-bottom: 1vmax;
}

.userName {
  color: var(--primaryColor);
  font-size: 2.5vmax;
  margin: 0 5vmax;
}

.userHeadings {
  color: var(--primaryColor);
  margin: 1.5vmax 0;
  margin-bottom: 0.5vmax;
  border-bottom: 1px solid gray;
  width: fit-content;
}
.userContactInfo,
.userShippingInfo {
  width: 90%;
  margin: 0 4vmax;
  padding-left: 8vmax;
}

.userShippingInfo h6,
.userContactInfo h6 {
  color: rgba(0, 0, 0, 0.418);
  margin: 0.5vmax;
}

.userShippingInfo h4,
.userContactInfo h4 {
  margin: 0.5vmax;
}

.profileContainer > div:first-child > a {
  border: none;
  background-color: rgba(0, 0, 139, 0.795);
  font: 400 1vmax "Roboto";
  color: white;
  text-decoration: none;
  padding: 0.5vmax;
  border-radius: 5px;
  width: 30%;
  margin: 4vmax;
  text-align: center;
  transition: all 0.5s;
}

.right {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  /* border: 2px solid black; */
  padding: 2vmax;
  width: 50vw;
}
.right a {
  display: flex;
  flex-direction: row;
  border: none;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  padding: 0.5vmax;
  border-radius: 5px;
  text-align: center;
  color: black;
}
.Wrapper {
  border: 1px solid black;
  margin: 1vmax 2vmax;
  padding: 1vmax;
  cursor: pointer;
  width: 35%;
}
.orderIcon {
  display: flex;
  color: var(--primaryColor);
  padding-right: 10px;
}
.stuff h3 {
  font: 300 1.5vmax "Roboto";
  text-align: left;
}
.stuff h6 {
  text-align: left;
  font: 300 0.75vmax "Roboto";
  color: rgba(0, 0, 0, 0.518);
  margin: 5px 0;
}

.recentOrders {
  text-align: center;
  display: block;
  width: 50vw;
  margin: auto;
}
.recentOrders h3 {
  font: 300 2vmax "Roboto";
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid gray;
  padding: 5px 10%;
}
.noOrder {
  display: flex;
  margin: 4vmax 0;
  flex-direction: column;
  align-items: center;
}
.noOrder a {
  display: flex;
  flex-direction: row;
  border: none;
  font: 400 1vmax "Roboto";
  text-decoration: none;
  padding: 0.5vmax;
  border-radius: 5px;
  text-align: center;
  color: black;
}

#someh6 {
  margin-left: 15px;
}

.noOrder .Wrapper {
  width: 50%;
}
.noOrder .Wrapper .orderIcon {
  width: fit-content;
  color: var(--primaryColor);
  display: block;
  margin: auto 0;
}
.stuff h3 {
  width: 100%;
  border: none;
}
#someIdBecauseGuptaKringGussa {
  font-size: 1.5vmax;
  color: rgba(0, 0, 0, 0.518);
}

#irritatedMeNamingDivs {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  padding: 5px 15px;
  padding-right: 25px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .mainWrapper {
    flex-direction: column;
    height: auto;
  }

  .profileContainer > div {
    font: 400 1.5vmax "Roboto";
    height: auto;
    margin: 0 auto;
    align-items: center;
    transform: translateY(-2vmax);
  }
  .profilePic {
    width: 20vmax;
    height: 20vmax;
  }
  .userName {
    font-size: 3.5vmax;
    width: max-content;
  }

  .right {
    /* border:2px solid black; */
    margin: 0 auto;
    flex-direction: column;
    height: auto;
  }
  .right .Wrapper {
    width: 150%;
  }
  .right .Wrapper h3 {
    font-size: 2.5vmax;
  }

  .right .Wrapper h6 {
    font-size: 1.5vmax;
  }

  .noOrder {
    font-size: 3vmax;
  }
  .userContactInfo,
  .userShippingInfo {
    align-items: flex-start;
    justify-content: left;
    margin: 0;
    text-align: left;
  }

  .profileContainer > div:first-child > a {
    font: 400 1.7vmax "Roboto";
    padding: 2vmax;
    width: 50%;
  }

  .right {
    text-align: center;
    align-items: center;
  }

  .recentOrders .noOrder .Wrapper {
    /* height: 50vh; */
    padding: auto;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.5vmax;
  }
  #myWr .stuff h3 {
    font-size: 2.5vmax;
    width: 150%;
    border: none;
    margin: 0;
  }
  #someh6 {
    margin: 0;
    width: 150%;
    padding: auto;
    font-size: 1.5vmax;
  }
  #irritatedMeNamingDivs {
    border: 1px solid black;
    width: 100vw;

    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
