.newProductContainer {
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.158);
    display: flex;
    flex-direction: column;;
    min-height:100vh ;
  }
  .newProductContainer h1 {
    color: rgba(0, 0, 0, 0.733);
    font: 300 2rem "Roboto";
    text-align: center;
  }
  
  .createProductForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 3vmax;
    justify-content: center;
    min-height: 100vh;
    width: 80vw;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.267);
  }
  
  
  .createProductForm  div {
    display: flex;
    width: 100%;
    padding: 0.3vmax;
    align-items: center;
    /* margin: auto; */
    /* border: 2px solid green; */
  }
  .createProductForm > div > svg{
/* border: 2px solid red; */
margin-left: 8vmax;
  }
  .createProductForm > div > input,
  .createProductForm > div > select,
  .createProductForm > div > textarea {
    padding: 1.2vmax 4vmax;
    padding-right: 1vmax;
    width: 80%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 4px;
    font: 300 0.9vmax cursive;
    outline: none;
    display: block;
    margin: auto;
    
  }
  
  .createProductForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: black;
  }
  
  #createProductFormFile > input {
    display: flex;
    padding: 5px 0;
    width: 20%;
  }
  
  #createProductFormFile > input::file-selector-button {
    cursor: pointer;
    width: 100%;
    z-index: 2;
    height: 5vh;
    border: none;
    margin: 0%;
    font: 400 0.8vmax cursive;
    transition: all 0.5s;
    padding: 0 1vmax;
    color: rgba(0, 0, 0, 0.623);
    background-color: rgb(255, 255, 255);
  }
  
  #createProductFormFile > input::file-selector-button:hover {
    background-color: rgb(235, 235, 235);
  }
  
  #createProductFormImage {
    width: 100%;
  }
  
  #createProductFormImage > img {
    width: 5vmax;
    height: 5vmax;
    margin: 0 0.5vmax;
  }
  #createProductBtn {
    border: none;
    background-color: var(--primaryColor);
    color: white;
    font: 300 0.9vmax "Roboto";
    width: 20%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    margin: 2vmax;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.219);
  }
  
  #createProductBtn:hover {
    background-color: var(--primaryColorHover);
  }
  
  @media screen and (max-width: 600px) {
    .newProductContainer {
      background-color: rgb(255, 255, 255);
    }
    .createProductForm {
      padding: 5vmax;
    }
  
    .createProductForm > div > input,
    .createProductForm > div > select,
    .createProductForm > div > textarea {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;

    }
  
    .createProductForm > div > svg {
      font-size: 2.8vmax;
    }
  
    #createProductFormFile > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #createProductFormFile > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    #createProductBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }

  @media screen and (max-width: 565px){
  .createProductForm > div > svg{
    margin-left: 6vmax;
      }
    
      #createProductFormFile > input {
        display: block;
        margin: auto;
        padding: 5px 0;
        width: 50%;
      }
    }
  @media screen and (max-width: 320px){
  .createProductForm > div > svg{
    margin-left: 4vmax;
      }
    
      #createProductFormFile > input {
        display: block;
        margin: auto;
        padding: 5px 0;
        width: 50%;
      }
    }
