.productsHeading {
  margin: 2vmax auto;
  width: 15vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  padding: 2vmax;
  color: rgba(0, 0, 0, 0.678);
  font: 500 1.5vmax "Roboto";
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5vmax;
  justify-content: center;
  min-height: 60vh;
}

.paginationBox {
  display: flex;
  justify-content: center;
  padding: 6vmax;
}

.pagination {
  display: flex;
  justify-content: center;
  padding: 0;
}

.page-item {
  background: white;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 1vmax 1.5vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:first-child {
  border-radius: 5px 0 0 5px;
}
.page-item:last-child {
  border-radius: 0 5px 5px 0;
}
.page-link {
  text-decoration: none;
  font: 300 0.7vmax "Roboto";
  color: rgb(80, 80, 80);
  transition: all 0.3s;
}

.page-item:hover {
  background: rgb(230, 230, 230);
}

.page-item:hover .page-link {
  color: rgb(80, 80, 80);
}

.pageItemActive {
  background-color: tomato;
}

.pageLinkActive {
  color: white;
}

/* .filterBox {
  width: 10vmax;
  position: absolute;
  top: 14vmax;
  left: 2vmax;
} */

/* .categoryBox {
  padding: 0 0;
  margin: 5px 0;
  border: 1px solid black;
} */
/* legend {
  text-align: center;
} */

.category-link {
  list-style: none;
  color: rgba(0, 0, 0, 0.71);
  font: 400 0.8vmax "Roboto";
  margin: 0.4vmax;
  cursor: pointer;
  transition: all 0.1s;
}
.category-link:hover {
  color: rgba(0, 0, 139, 0.795);
  transform: scale(1.08);
}

.filterBox > fieldset {
  border: 1px solid rgb(0, 0, 0);
}

@media screen and (max-width: 600px) {
  .page-link {
    font: 300 1.7vmax "Roboto";
  }
  .category-link {
    font: 400 1.8vmax "Roboto";
  }
}
.filterBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  
}
.sec-center{
  box-sizing: border-box;
  height: auto;
  width: fit-content;
  padding: .5vmax;
  justify-content: flex-end;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
   opacity: 0;
   pointer-events: none;
 }
.dropdown:checked + label,
.dropdown:not(:checked) + label,
.dropdownForPrice:checked + label,
.dropdownForPrice:not(:checked) + label
{
  line-height: 2;
  transition: all 200ms linear;
  border-radius: 4px;
  padding: 0.5vmax 1vmax;
  letter-spacing: 1px;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  box-shadow: 0 12px 35px 0 rgba(255, 235, 167, 0.15);
  right: 0;
}
.section-dropdown,
.section-dropdownForPrice {
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 4px;
  display: block;
  box-shadow: 0 14px 35px 0 rgba(9, 9, 12, 0.4);
  z-index: 3;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px);
  transition: all 200ms linear;
}
.dropdown:checked ~ .section-dropdown 
{
  opacity: 1;
  transform: translateY(40px);
  pointer-events: all;
}
.dropdownForPrice:checked ~ .section-dropdownForPrice
{
  opacity: 1;
  transform: translateY(40px);
  pointer-events: all;
}
.uil{
  transform: translateY(5px);
}
.dropdown:not(:checked) + label .uil,
.dropdownForPrice:not(:checked) + label .uil

{
  transition: transform 200ms linear;
}
.dropdown:checked + label .uil, 
.dropdownForPrice:checked + label .uil {
  transform: rotate(180deg) translateY(-5px);
  transition: transform 200ms linear;
}
.textRight{
  text-align: right;
}